:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.btn-create-new-staff-submit{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
}
.btn-create-new-staff-submit:hover{
    cursor: pointer;
}
/* <!------------- Form Create staff ------------> */
.background-create-staff{
    width:99%; 
    background:rgba(0,0,0,0.8);
    height:99%;
    position: absolute;
    bottom: 10px;
    display: none;
}
    .content-create-new-staff-create{
    width: 500px;
    height: 470px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 4px;
    position: relative;
    left: 25%;
    bottom: -110px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

}
.name-new-new-staff-create {
padding: 10px 0px 0px 14px;
font-size: 20px;
}
.icon-cancel-new-staff-create {
padding: 10px 14px 0px 10px;
font-size: 20px;
cursor: pointer;
}
input.form-control-des-new-staff-create{
  font-size: small;
}

/* label {
display: inline-block;
margin-bottom: 0.5rem; } */
.form-control-new-staff-create ,.file{
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 9px 9px 9px 9px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #6fb6df;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
.form-group-new-staff-create{
    padding: 0px 10px 0px 10px;
}

.btn-create-new-staff{
    background-color:var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}
.form-control-des-new-staff-create{
display: block;
width: 107%;
height: calc(1.5em + 0.75rem + 2px);
padding: 0px 9px 40px 9px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #6fb6df;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
/* <!------------ end of create staff -----------------> */

/* css delete */
.background-delete-staff{
    width:99%; 
    background:rgba(0,0,0,0.8);
    height:99%;
    position: absolute;
    bottom: 10px;
    display: none;
}
.delete-dev-staff{
    width: 300px;
    height: 150px;
    background-color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 35%;
    bottom: -200px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}
.btn-dev-staff{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.text-delete-staff{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn-confirm-delete-staff , .btn-cancel-delete-staff {
    width: 90px;
    height: 30px;
}
.btn-cancel-delete-staff {
    background-color: #3F5FFF;
    color: white;
    border: none;
    border-radius: 4px;
}
.btn-confirm-delete-staff {
    background-color: #F81616;
    color: white;
    border: none;
    border-radius: 4px;
}

/* end css delete */
/* <!-------------start css crud ------------> */
.btn-crud-list-staff {
width: 25px;
height: 25px;
background-color: transparent;
border: white solid 1px;
border-radius: 4px;
padding: unset;
}
.btn-crud-list-staff:hover {
    border-color: rgb(244, 244, 247);
    color: #3725FF;
    cursor: pointer;
}
    /* <!-------------end css crud ------------> */

    /* view */
    /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: hsl(198, 79%, 35%);
  --first-color-light: hsl(198, 79%, 35%);
}
.background-view-staff{
    width:99%; 
    background:rgba(0,0,0,0.8);
    height:99%;
    position: absolute;
    bottom: 10px;
    display: none;
}
.card-staff {
  position: relative;
  width: 500px;
  height: 525px;
  background-color: whitesmoke;
  padding: 1.25rem 2rem 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
  position: relative;
  left: 25%;
  bottom: -70px;

}
.card__img {
  width: 96px;
  border-radius: 50%;
}
.card__border {
  width: 110px;
  height: 110px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}
.card__name {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: 500;
}
.card__profession {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: 500;
}
.card__social{
  width: 450px;
  background-color: var(--first-color);
  /* padding: 0.75rem; */
  border-radius: 10px;
  text-align: initial;
  box-shadow: 0 8px 24px hsla(29, 75%, 56%, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  /* bottom: -1.75rem; */
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
}
.card__social-control {
  position: relative;
  transform-origin: 18px 18px;
  transition: transform 0.45s ease;
  transform: rotate(0);
  width: 400px;
}
.card__social-toggle {
  display: inline-flex;
  background-color: white;
  font-size: 1.25rem;
  padding: 0.1rem;
  border-radius: 30%;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-left: 5px;
  margin-top: 5px;
}
.card__social-text {
  display: block;
  color: var(--black-color);
  font-size: smalle;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 5px;
}
.card__social-list {
  column-gap: 0.75rem;
  transform: rotate(135deg);
  transform-origin: 18px 17px;
}
.card__social-link {
  display: inline-flex;
  background-color: var(--first-color-light);
  color: var(--black-color);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 50%;
}
.card__social-text, .card__social-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3.1rem;
}
/* Rotate social */
.animation .card__social-control {
  transform: rotate(-135deg);
}

/* Up animation */
.card__social.animation {
  animation: up-animation 1s ease-in-out forwards;
  height: 366px;
}

@keyframes up-animation {
  0%, 100% {
    transform: rotate(0);
  }
  50%, 60% {
    transform: rotate(-3deg);
  }
  88% {
    transform: rotate(1deg);
  }
}
/* Down animation */
.card__social.down-animation {
  animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation {
  0%, 100% {
    transform: rotate(0);
  }
  50%, 60% {
    transform: rotate(6deg);
  }
  88% {
    transform: rotate(-1deg);
  }
}
.col-sm-3-staff {
  flex: 0 0 auto;
  width: 45%;
  position: relative;
  left: 55px;
}
.col-sm-4-staff {
  flex: 0 0 auto;
  width: 40%;
}

.row-staff {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.form-staff{
  position: relative;
  left: 0%;
  bottom: 5px;
}
.btn-exit-view-staff{
  position: relative;
  /* left:490px;
  bottom: -50px; */
  background-color: var(--primary-color);
  color: white;
  border: transparent;
  width: 50px;
  border-radius: 4px;
  height: 25px;

}
.btn-exit-view-staff:hover{
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  border: black solid 1px;

}