.all{
    width: 100%;
    background-color: rgb(222, 221, 221);
    height: 250px;
    position: relative;
    top: 0px;
}
.container-conReport1{
    width: 45%;
    background-color: white;
    height: 210px;
    margin: 0px 0px 0px 30px;
    position: relative;
    top: 20px;
}
.container-conReport2{
    width: 45%;
    background-color: white;
    height: 210px;
    margin: 0px 30px 0px 30px;
    position: relative;
    top: 20px;

}
.img-payment{
    width: 200px;
    position: relative;
    right: 128px;
    top: 20px;
}
.under1{
    position: relative;
    top: 90px;
}
.under2{
    position: relative;
    top: 90px;
}

.p1{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    right: -38px;
    top: 10px;

}
.p2{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    right: -38px;
    top: 10px;

}
.btn-list-rep-pm{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    position: relative;
    right: 50px;
    top: 30px;
}
.btn-list-rep-bti{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    position: relative;
    right: 50px;
    top: 30px;
}
.btn-create-pm{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    position: relative;
    right: 50px;
    top: -2px;
}
.btn-create-pm:hover,
.btn-create-bti:hover,
.btn-list-rep-bti:hover,
.btn-list-rep-pm:hover
{
    cursor: pointer;
    border-radius: solid 4px;
    border: none;
    background-color: var(--primary-color-light);
    color: black;

}
.btn-create-bti{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: var(--primary-color);
    border-radius: 4px;
    font-size: large;
    position: relative;
    right: 50px;
    top: -2px;

}


:root{
/* ===== Colors ===== */
--body-color: #E4E9F7;
--sidebar-color: #FFF;
--primary-color: #695CFE;
--primary-color-light: #F6F5FF;
--toggle-color: #DDD;
--text-color: #707070;

/* ====== Transition ====== */
--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;
}
.btn-create-technical{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}
.form-control-btn{
    text-decoration: none;
}

