table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}
.btn-list-customer {
    width: 90px;
    height: 24.185px;
    background-color: rgba(250, 0, 210, 0.05);
    color: rgba(250, 0, 210, 0.5);
    border: #000 solid 1px;
    border-radius: 4px;
    border-color: rgba(250, 0, 210, 0.5);
}
.btn-crud-list-customer {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: #000 solid 1px;
    border-radius: 4px;
    padding: unset;
}
.btn-crud-list-customer:hover {
    border-color: red;
    color: red;
    cursor: pointer;
}
/* btn create lead */
.btn-create-customer {
    border: none;
    border-radius: 4px;
    font-size: large;
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    margin: 0px 10px 0px 0px ;

}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.content-create-new-customer-create{
    width: 500px;
    height: 530px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    display: none;
    position: relative;
    left: 25%;
    bottom: 130px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

}
.name-new-new-customer-create {
padding: 10px 0px 0px 14px;
font-size: 20px;
}
.icon-cancel-new-customer-create {
padding: 10px 14px 0px 10px;
font-size: 20px;
cursor: pointer;
}
.form-control-new-customer-create {
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 9px 9px 9px 9px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #6fb6df;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
.form-control-new-customer-create-file {
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 4px 0px 4px 8px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #6fb6df;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
.form-group-new-customer-create{
    padding: 5px 14px 0px 14px;
}
.form-group-new-customer-create-file{
  padding: 5px 14px 0px -14px;
}
.form-group-new-customer-create{
    padding: 5px 14px 0px 14px;
}
.btn-create-new-customer-create{
    background-color: var(--primary-color);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: large;
    cursor: pointer;
}
.form-control-des-new-customer-create{
display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 0px 9px 48px 9px;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #6fb6df;
border-radius: 0.25rem;
-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }


/* end create lead */

/* css delete */
.delete-dev-customer{
    width: 300px;
    height: 150px;
    background-color: white;
    border: block;
    border-radius: 4px;
    position: relative;
    left: 35%;
bottom: 10px;
    display: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}
.btn-dev-customer{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.text-delete-customer{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn-confirm-delete-customer , .btn-cancel-delete-customer {
    width: 90px;
    height: 30px;
}
.btn-cancel-delete-customer {
    background-color: #3F5FFF;
    color: white;
    border: none;
    border-radius: 4px;
}
.btn-confirm-delete-customer {
    background-color: #F81616;
    color: white;
    border: none;
    border-radius: 4px;
}

/* end css delete */
    /* <!-------------start css crud ------------> */
    .btn-crud-list-customer {
width: 25px;
height: 25px;
background-color: transparent;
border: white solid 1px;
border-radius: 4px;
padding: unset;
}
.btn-crud-list-customer:hover {
border-color: rgb(244, 244, 247);
color: #3725FF;
cursor: pointer;
}
/* <!-------------end css crud ------------> */
.nav li {
border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.nav li:hover {
border-bottom: 3px solid #eee;
}
.nav li.active {
border-bottom: 3px solid #338ecf;
background: #eee
}



